In [154]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import io

# File to Load (Remember to Change These)
survey_data = "./survey_results_public.csv"

# Read School and Student Data File and store into Pandas Data Frames
survey_df = pd.read_csv(survey_data)

survey_df.head(5)

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [155]:
# survey_df = pd.read_csv(survey_data, dtype={'Country' : object,
#                                              'Salary' : int,
#                                              'Currency' : object,
#                                              'JobSatisfaction' : object, 
#                                              'Gender' : object, 
#                                              'EducationParents' : object,
#                                              'RaceEthnicity' : object,
#                                              'Age' : object})

In [156]:
#read headers
print(survey_df.columns)

Index(['Respondent', 'Hobby', 'OpenSource', 'Country', 'Student', 'Employment',
       'FormalEducation', 'UndergradMajor', 'CompanySize', 'DevType',
       ...
       'Exercise', 'Gender', 'SexualOrientation', 'EducationParents',
       'RaceEthnicity', 'Age', 'Dependents', 'MilitaryUS', 'SurveyTooLong',
       'SurveyEasy'],
      dtype='object', length=129)

In [157]:
#Read Each Column
new_survey_df = survey_df[['Country', 'Salary','Currency','Gender','JobSatisfaction','EducationParents', 'Age', 'RaceEthnicity', 'JobSearchStatus', 'LastNewJob', 'LanguageWorkedWith']]

In [158]:
new_survey_df

,Country,Salary,Currency,Gender,JobSatisfaction,EducationParents,Age,RaceEthnicity,JobSearchStatus,LastNewJob,LanguageWorkedWith
0,Kenya,NaN,NaN,Male,Extremely satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",25 - 34 years old,Black or of African descent,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;Python;HTML;CSS
1,United Kingdom,51000,British pounds sterling (£),Male,Moderately dissatisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,White or of European descent,I am actively looking for a job,More than 4 years ago,JavaScript;Python;Bash/Shell
2,United States,NaN,NaN,NaN,Moderately satisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",Less than a year ago,NaN
3,United States,NaN,U.S. dollars ($),Male,Neither satisfied nor dissatisfied,Some college/university study without earning ...,35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell
4,South Africa,260000,South African rands (R),Male,Slightly satisfied,Some college/university study without earning ...,18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,C;C++;Java;Matlab;R;SQL;Bash/Shell
5,United Kingdom,30000,British pounds sterling (£),Male,Moderately satisfied,"Secondary school (e.g. American high school, G...",18 - 24 years old,White or of European descent,I am actively looking for a job,Between 2 and 4 years ago,Java;JavaScript;Python;TypeScript;HTML;CSS
6,United States,120000,U.S. dollars ($),Male,Slightly satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;HTML;CSS
7,Nigeria,NaN,NaN,Female,Slightly satisfied,Primary/elementary school,25 - 34 years old,Black or of African descent,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;TypeScript;HTML;CSS
8,United States,250000,U.S. dollars ($),Male,Moderately satisfied,Some college/university study without earning ...,35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,Assembly;CoffeeScript;Erlang;Go;JavaScript;Lua...
9,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Spain,NaN,NaN,NaN,Moderately dissatisfied,NaN,NaN,NaN,NaN,NaN,NaN
11,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,India,NaN,NaN,NaN,Extremely satisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",Less than a year ago,Java
14,Netherlands,0,Euros (€),Male,Neither satisfied nor dissatisfied,Associate degree,18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,Java;JavaScript;PHP;VB.NET;HTML;CSS
15,Israel,NaN,NaN,NaN,Moderately dissatisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,NaN
16,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,Less than a year ago,NaN
17,Sweden,32000,Swedish kroner (SEK),Male,Moderately satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,C#;SQL;HTML;CSS;Bash/Shell
18,India,NaN,NaN,Female,Slightly satisfied,Some college/university study without earning ...,NaN,NaN,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,C;C++;C#
19,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Australia,120000,Australian dollars (A$),Male,Slightly satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,NaN,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,C;C++;Go;Python;SQL;Swift
21,United States,NaN,U.S. dollars ($),Male,Extremely satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",45 - 54 years old,White or of European descent,"I’m not actively looking, but I am open to new...",More than 4 years ago,C;C++;C#;Groovy;JavaScript;Python;SQL;HTML;CSS...
22,United Kingdom,25,British pounds sterling (£),Male,Slightly satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",25 - 34 years old,White or of European descent,I am not interested in new job opportunities,More than 4 years ago,C#;JavaScript;PHP;SQL;HTML;CSS
23,United States,75000,U.S. dollars ($),"Female;Male;Transgender;Non-binary, genderquee...",Slightly dissatisfied,They never completed any formal education,45 - 54 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,JavaScript;PHP;SQL;HTML;CSS;Bash/Shell
24,India,700000,Indian rupees (₹),Female;Male,Moderately satisfied,NaN,25 - 34 years old,NaN,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,C;C++;Java;JavaScript;SQL;Swift;Kotlin
25,Greece,3500,Euros (€),Male,Slightly dissatisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",More than 4 years ago,Java;JavaScript;PHP;SQL;TypeScript;HTML;CSS
26,Sweden,582000,Swedish kroner (SEK),Male,Moderately satisfied,"Secondary school (e.g. American high school, G...",25 - 34 years old,Hispanic or Latino/Latina;White or of European...,"I’m not actively looking, but I am open to new...",More than 4 years ago,C#;Java;JavaScript;PHP;SQL;HTML;CSS
27,United States,75000,U.S. dollars ($),Male,Moderately satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",25 - 34 years old,White or of European descent,I am not interested in new job opportunities,Between 2 and 4 years ago,C#;JavaScript;SQL;HTML;CSS
28,United States,NaN,NaN,NaN,Extremely satisfied,NaN,NaN,NaN,I am not interested in new job opportunities,Between 1 and 2 years ago,NaN
29,United Kingdom,NaN,British pounds sterling (£),NaN,Neither satisfied nor dissatisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",35 - 44 years old,Black or of African descent;East Asian;Hispani...,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,C#;Java;JavaScript;PHP;TypeScript;HTML;CSS
...,...,...,...,...,...,...,...,...,...,...,...
98825,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98826,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98828,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98829,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98830,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98831,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98832,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98833,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98834,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98835,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98836,"Iran, Islamic Republic of...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98837,Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98838,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98839,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98840,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98842,Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98843,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98844,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98845,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98846,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98847,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98848,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98849,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98850,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98851,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98852,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98853,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98854,Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
# removing rows that have more that 4 null values
clean_df = new_survey_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_df.head()

,Country,Salary,Currency,Gender,JobSatisfaction,EducationParents,Age,RaceEthnicity,JobSearchStatus,LastNewJob,LanguageWorkedWith
1,United Kingdom,51000,British pounds sterling (£),Male,Moderately dissatisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,White or of European descent,I am actively looking for a job,More than 4 years ago,JavaScript;Python;Bash/Shell
4,South Africa,260000,South African rands (R),Male,Slightly satisfied,Some college/university study without earning ...,18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,C;C++;Java;Matlab;R;SQL;Bash/Shell
5,United Kingdom,30000,British pounds sterling (£),Male,Moderately satisfied,"Secondary school (e.g. American high school, G...",18 - 24 years old,White or of European descent,I am actively looking for a job,Between 2 and 4 years ago,Java;JavaScript;Python;TypeScript;HTML;CSS
6,United States,120000,U.S. dollars ($),Male,Slightly satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;HTML;CSS
8,United States,250000,U.S. dollars ($),Male,Moderately satisfied,Some college/university study without earning ...,35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,Assembly;CoffeeScript;Erlang;Go;JavaScript;Lua...

In [160]:
#convert to int
clean_df['Salary'] = pd.to_numeric(clean_df.Salary, errors='coerce')

/Users/Ariel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [161]:
#Begin review of types of currency in data set
#Focusing analysis on USD, Euros, Indian rupees and British Pounds
#Convert evrything to USD
currency_df = clean_df['Currency'].value_counts(normalize=True) * 100
currency_df

U.S. dollars ($)               36.694521
Euros (€)                      25.363132
British pounds sterling (£)     9.284392
Indian rupees (₹)               5.969940
Canadian dollars (C$)           4.534238
Russian rubles (₽)              2.834950
Brazilian reais (R$)            2.776064
Australian dollars (A$)         2.728394
Polish złoty (zł)               2.518086
Swedish kroner (SEK)            1.637597
Swiss francs                    1.160900
Danish krone (kr)               0.886097
Mexican pesos (MXN$)            0.827211
Norwegian krone (kr)            0.790758
South African rands (R)         0.757108
Chinese yuan renminbi (¥)       0.476698
Japanese yen (¥)                0.358925
Singapore dollars (S$)          0.322472
Bitcoin (btc)                   0.078515
Name: Currency, dtype: float64

In [163]:
# makes a new dataframe with salary and currency 
salary_currency_df = clean_df[['Salary','Currency']]
salary_currency_df.head()

     Salary                     Currency
1   51000.0  British pounds sterling (£)
4  260000.0      South African rands (R)
5   30000.0  British pounds sterling (£)
6  120000.0             U.S. dollars ($)
8  250000.0             U.S. dollars ($)

In [165]:
#create df for British pounds
Pounds_df = salary_currency_df.loc[salary_currency_df['Currency'] == 'British pounds sterling (£)']
Pounds_df.head()

     Salary                     Currency
1   51000.0  British pounds sterling (£)
5   30000.0  British pounds sterling (£)
22     25.0  British pounds sterling (£)
79  32500.0  British pounds sterling (£)
82  59500.0  British pounds sterling (£)

In [167]:
#Pounds to USD conversion
Pounds_conv = Pounds_df['Salary'] * 1.23
Pounds_conv_df = pd.DataFrame(Pounds_conv)
Pounds_conv_df.head()

      Salary
1   62730.00
5   36900.00
22     30.75
79  39975.00
82  73185.00

In [168]:
Euros_df = salary_currency_df.loc[salary_currency_df['Currency'] == 'Euros (€)']
Euros_df.head()

    Salary   Currency
14     0.0  Euros (€)
25  3500.0  Euros (€)
37  2600.0  Euros (€)
53  5000.0  Euros (€)
57   900.0  Euros (€)

In [169]:
#Euros to USD conversion
Euros_conv = Euros_df['Salary'] * 1.09
Euros_conv_df = pd.DataFrame(Euros_conv)
Euros_conv_df.head()

    Salary
14     0.0
25  3815.0
37  2834.0
53  5450.0
57   981.0

In [171]:
#create df for Indian rupees (₹)
Rupee_df = salary_currency_df.loc[salary_currency_df['Currency'] == 'Indian rupees (₹)']
Rupee_df.head()

        Salary           Currency
41    660000.0  Indian rupees (₹)
45     35000.0  Indian rupees (₹)
93   2200000.0  Indian rupees (₹)
95     22000.0  Indian rupees (₹)
106   300000.0  Indian rupees (₹)

In [172]:
#Rupees to USD conversion
Rupee_conv = Rupee_df['Salary'] * 0.014
Rupee_conv_df = pd.DataFrame(Rupee_conv)
Rupee_conv_df.head()

      Salary
41    9240.0
45     490.0
93   30800.0
95     308.0
106   4200.0

In [173]:
#create df for USD
USD_df = salary_currency_df.loc[salary_currency_df['Currency'] == 'U.S. dollars ($)']
USD_df.head()

      Salary          Currency
6   120000.0  U.S. dollars ($)
8   250000.0  U.S. dollars ($)
23   75000.0  U.S. dollars ($)
27   75000.0  U.S. dollars ($)
32   44000.0  U.S. dollars ($)

In [174]:
#USD Conversion
US_conv = USD_df['Salary'] * 1
US_conv_df = pd.DataFrame(US_conv)
US_conv_df.head()

      Salary
6   120000.0
8   250000.0
23   75000.0
27   75000.0
32   44000.0

In [176]:
#Created a merged df with all currencies in USD
frames = [US_conv_df, Pounds_conv_df, Euros_conv_df, Rupee_conv_df]
merge_df = pd.concat(frames, axis=0, join='outer', ignore_index=False, keys=None,
         levels=None, names=None, verify_integrity=False, copy=True)
merge_df1 = merge_df.rename(columns = {'Salary' : 'Adjusted Salary'})
merge_df1.head()

    Adjusted Salary
6          120000.0
8          250000.0
23          75000.0
27          75000.0
32          44000.0

In [177]:
#display new merged df
clean_merged = clean_df.join(merge_df1)
clean_merged.head()

,Country,Salary,Currency,Gender,JobSatisfaction,EducationParents,Age,RaceEthnicity,JobSearchStatus,LastNewJob,LanguageWorkedWith,Adjusted Salary
1,United Kingdom,51000.0,British pounds sterling (£),Male,Moderately dissatisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,White or of European descent,I am actively looking for a job,More than 4 years ago,JavaScript;Python;Bash/Shell,62730.0
4,South Africa,260000.0,South African rands (R),Male,Slightly satisfied,Some college/university study without earning ...,18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,C;C++;Java;Matlab;R;SQL;Bash/Shell,NaN
5,United Kingdom,30000.0,British pounds sterling (£),Male,Moderately satisfied,"Secondary school (e.g. American high school, G...",18 - 24 years old,White or of European descent,I am actively looking for a job,Between 2 and 4 years ago,Java;JavaScript;Python;TypeScript;HTML;CSS,36900.0
6,United States,120000.0,U.S. dollars ($),Male,Slightly satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;HTML;CSS,120000.0
8,United States,250000.0,U.S. dollars ($),Male,Moderately satisfied,Some college/university study without earning ...,35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,Assembly;CoffeeScript;Erlang;Go;JavaScript;Lua...,250000.0

In [178]:
#Drop NaN for other currencies
final_df = clean_merged.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
final_df.head()

,Country,Salary,Currency,Gender,JobSatisfaction,EducationParents,Age,RaceEthnicity,JobSearchStatus,LastNewJob,LanguageWorkedWith,Adjusted Salary
1,United Kingdom,51000.0,British pounds sterling (£),Male,Moderately dissatisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,White or of European descent,I am actively looking for a job,More than 4 years ago,JavaScript;Python;Bash/Shell,62730.0
5,United Kingdom,30000.0,British pounds sterling (£),Male,Moderately satisfied,"Secondary school (e.g. American high school, G...",18 - 24 years old,White or of European descent,I am actively looking for a job,Between 2 and 4 years ago,Java;JavaScript;Python;TypeScript;HTML;CSS,36900.0
6,United States,120000.0,U.S. dollars ($),Male,Slightly satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;HTML;CSS,120000.0
8,United States,250000.0,U.S. dollars ($),Male,Moderately satisfied,Some college/university study without earning ...,35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,Assembly;CoffeeScript;Erlang;Go;JavaScript;Lua...,250000.0
14,Netherlands,0.0,Euros (€),Male,Neither satisfied nor dissatisfied,Associate degree,18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,Java;JavaScript;PHP;VB.NET;HTML;CSS,0.0

In [179]:
#Specify Genders
final_df1 = final_df[final_df.Gender != 'Non-binary, genderqueer, or gender non-conforming']
final_df2 = final_df1[final_df1.Gender != 'Female;Transgender']
final_df3 = final_df2[final_df2.Gender != 'Male;Non-binary, genderqueer, or gender non-conforming']
final_df4 = final_df3[final_df3.Gender != 'Transgender']
final_df5 = final_df4[final_df4.Gender != 'Female;Non-binary, genderqueer, or gender non-conforming']
final_df6 = final_df5[final_df5.Gender != 'Transgender;Non-binary, genderqueer, or gender non-conforming']
final_df7 = final_df6[final_df6.Gender != 'Male;Transgender']
final_df8 = final_df7[final_df7.Gender != 'Female;Male']
final_df9 = final_df8[final_df8.Gender != 'Female;Male;Transgender;Non-binary, genderqueer, or gender non-conforming']
final_df10 = final_df9[final_df9.Gender != 'Female;Male;Transgender']
final_df11 = final_df10[final_df10.Gender != 'Male;Transgender;Non-binary, genderqueer, or gender non-conforming']
final_df12 = final_df11[final_df11.Gender != 'Female;Transgender;Non-binary, genderqueer, or gender non-conforming']

In [180]:
#Dsiplay % of Genders
final_df13 = final_df12['Gender'].value_counts(normalize=True) * 100
final_df13

Male      93.929653
Female     6.070347
Name: Gender, dtype: float64

In [127]:
# new_survey_df.loc[new_survey_df['LanguageWorkedWith'] == "SQL"]

# total_rows = new_survey_df['Gender'].count()
# print(total_rows)

In [128]:
#Read Each Column
# num_languages_df = new_survey_df[['LanguageWorkedWith']]

In [188]:
clean_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

,Country,Salary,Currency,Gender,JobSatisfaction,EducationParents,Age,RaceEthnicity,JobSearchStatus,LastNewJob,LanguageWorkedWith
1,United Kingdom,51000.0,British pounds sterling (£),Male,Moderately dissatisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,White or of European descent,I am actively looking for a job,More than 4 years ago,JavaScript;Python;Bash/Shell
4,South Africa,260000.0,South African rands (R),Male,Slightly satisfied,Some college/university study without earning ...,18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,C;C++;Java;Matlab;R;SQL;Bash/Shell
5,United Kingdom,30000.0,British pounds sterling (£),Male,Moderately satisfied,"Secondary school (e.g. American high school, G...",18 - 24 years old,White or of European descent,I am actively looking for a job,Between 2 and 4 years ago,Java;JavaScript;Python;TypeScript;HTML;CSS
6,United States,120000.0,U.S. dollars ($),Male,Slightly satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;HTML;CSS
8,United States,250000.0,U.S. dollars ($),Male,Moderately satisfied,Some college/university study without earning ...,35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,Assembly;CoffeeScript;Erlang;Go;JavaScript;Lua...
14,Netherlands,0.0,Euros (€),Male,Neither satisfied nor dissatisfied,Associate degree,18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,Java;JavaScript;PHP;VB.NET;HTML;CSS
17,Sweden,32000.0,Swedish kroner (SEK),Male,Moderately satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,C#;SQL;HTML;CSS;Bash/Shell
22,United Kingdom,25.0,British pounds sterling (£),Male,Slightly satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",25 - 34 years old,White or of European descent,I am not interested in new job opportunities,More than 4 years ago,C#;JavaScript;PHP;SQL;HTML;CSS
23,United States,75000.0,U.S. dollars ($),"Female;Male;Transgender;Non-binary, genderquee...",Slightly dissatisfied,They never completed any formal education,45 - 54 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,JavaScript;PHP;SQL;HTML;CSS;Bash/Shell
25,Greece,3500.0,Euros (€),Male,Slightly dissatisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",More than 4 years ago,Java;JavaScript;PHP;SQL;TypeScript;HTML;CSS
26,Sweden,582000.0,Swedish kroner (SEK),Male,Moderately satisfied,"Secondary school (e.g. American high school, G...",25 - 34 years old,Hispanic or Latino/Latina;White or of European...,"I’m not actively looking, but I am open to new...",More than 4 years ago,C#;Java;JavaScript;PHP;SQL;HTML;CSS
27,United States,75000.0,U.S. dollars ($),Male,Moderately satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",25 - 34 years old,White or of European descent,I am not interested in new job opportunities,Between 2 and 4 years ago,C#;JavaScript;SQL;HTML;CSS
30,Poland,8500.0,Polish złoty (zł),Male,Slightly satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",25 - 34 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,Python;SQL;HTML;Bash/Shell
32,United States,44000.0,U.S. dollars ($),Female,Extremely dissatisfied,Associate degree,18 - 24 years old,White or of European descent,I am not interested in new job opportunities,Between 1 and 2 years ago,Java;JavaScript;Objective-C;PHP;SQL;Swift;HTML...
33,United States,60000.0,U.S. dollars ($),Female,Moderately dissatisfied,"Secondary school (e.g. American high school, G...",25 - 34 years old,White or of European descent,I am actively looking for a job,Between 1 and 2 years ago,JavaScript;PHP;HTML;CSS
35,United States,80000.0,U.S. dollars ($),Male,Moderately satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",25 - 34 years old,White or of European descent,I am not interested in new job opportunities,More than 4 years ago,C;C++;Java;JavaScript;PHP;Python;Ruby;SQL;Bash...
37,Belgium,2600.0,Euros (€),Male,Slightly dissatisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",25 - 34 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,C#;Java;JavaScript;PHP;SQL;TypeScript;HTML;CSS
41,India,660000.0,Indian rupees (₹),Male,Slightly satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,South Asian,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,PHP;HTML;CSS
43,United States,74000.0,U.S. dollars ($),Male,Extremely satisfied,"Other doctoral degree (Ph.D, Ed.D., etc.)",25 - 34 years old,White or of European descent,I am not interested in new job opportunities,Between 1 and 2 years ago,Assembly;C;C++;C#;Python;Rust;Bash/Shell
45,India,35000.0,Indian rupees (₹),Male,Moderately satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",25 - 34 years old,South Asian,"I’m not actively looking, but I am open to new...",More than 4 years ago,JavaScript;PHP;Python;SQL;HTML;CSS
46,United States,115000.0,U.S. dollars ($),Male,Slightly satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",25 - 34 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,Erlang;Go;Groovy;Java;JavaScript;Ruby;Scala;Ty...
47,United States,70000.0,U.S. dollars ($),Male,Extremely dissatisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",35 - 44 years old,White or of European descent,I am not interested in new job opportunities,More than 4 years ago,JavaScript;PHP;SQL;CSS;Bash/Shell
49,United States,90000.0,U.S. dollars ($),"Male;Non-binary, genderqueer, or gender non-co...",Moderately satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",25 - 34 years old,White or of European descent,I am not interested in new job opportunities,Between 2 and 4 years ago,Ruby;Bash/Shell
51,United States,115000.0,U.S. dollars ($),Male,Moderately satisfied,"Secondary school (e.g. American high school, G...",35 - 44 years old,White or of European descent,I am not interested in new job opportunities,Between 2 and 4 years ago,C#;F#;JavaScript;Lua;TypeScript;HTML;CSS
53,Germany,5000.0,Euros (€),Male,Moderately satisfied,"Secondary school (e.g. American high school, G...",35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,C;C++;C#;Java;JavaScript;VB.NET;HTML;CSS;Bash/...
57,France,900.0,Euros (€),Male,Neither satisfied nor dissatisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,Assembly;C;C++;C#;Java;JavaScript;Python;SQL;H...
62,United States,120000.0,U.S. dollars ($),Male,Moderately satisfied,"Professional degree (JD, MD, etc.)",25 - 34 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,C;F#;Haskell;Python;Scala
63,Germany,40000.0,Euros (€),Male,Slightly dissatisfied,"Secondary school (e.g. American high school, G...",18 - 24 years old,White or of European descent,I am actively looking for a job,Between 1 and 2 years ago,JavaScript;PHP;Python;SQL;TypeScript;HTML;CSS
65,China,2500.0,Chinese yuan renminbi (¥),Male,Moderately dissatisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",18 - 24 years old,South Asian,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,C#;Python
70,China,550000.0,Chinese yuan renminbi (¥),Male,Neither satisfied nor dissatisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,East Asian,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,Perl;R;SQL
...,...,...,...,...,...,...,...,...,...,...,...
80374,United States,42000.0,U.S. dollars ($),Female,Slightly satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",18 - 24 years old,Hispanic or Latino/Latina;White or of European...,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,C;Java;JavaScript;PHP;Python;SQL;HTML;CSS;Bash...
80375,United Kingdom,60.0,British pounds sterling (£),Male,Moderately satisfied,"Other doctoral degree (Ph.D, Ed.D., etc.)",25 - 34 years old,Black or of African descent,I am not interested in new job opportunities,Less than a year ago,JavaScript;Python;HTML;CSS;Bash/Shell
80376,United Kingdom,37.0,British pounds sterling (£),Male,Slightly satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",25 - 34 years old,White or of European descent,I am actively looking for a job,Between 1 and 2 years ago,Groovy;Java;JavaScript;PHP;HTML;CSS;Bash/Shell
80377,Czech Republic,55000.0,Euros (€),Male,Moderately satisfied,Primary/elementary school,35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,Clojure;Groovy;Java;R
80379,Kenya,10000.0,U.S. dollars ($),Male,Moderately satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",25 - 34 years old,Black or of African descent,I am not interested in new job opportunities,More than 4 years ago,JavaScript;PHP;HTML;CSS
80380,United Kingdom,4000.0,British pounds sterling (£),Male,Extremely satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,White or of European descent,I am not interested in new job opportunities,Less than a year ago,C#;JavaScript;SQL;VB.NET;HTML;CSS
80381,United States,70000.0,U.S. dollars ($),Male,Extremely satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",18 - 24 years old,White or of European descent,I am not interested in new job opportunities,Less than a year ago,JavaScript;Python;R;SQL;HTML;CSS;Bash/Shell
80384,Sweden,85000.0,Swedish kroner (SEK),Male,Slightly satisfied,"Secondary school (e.g. American high school, G...",45 - 54 years old,White or of European descent,I am not interested in new job opportunities,Between 1 and 2 years ago,C++;JavaScript;Objective-C;Python;SQL;Swift;Ba...
80388,Netherlands,74000.0,Euros (€),Male,Moderately satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",45 - 54 years old,White or of European descent,I am not interested in new job opportunities,More than 4 years ago,C#;Java;JavaScript;HTML;CSS
80391,Germany,9000.0,Euros (€),Male,Neither satisfied nor dissatisfied,"Secondary school (e.g. American high school, G...",35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",More than 4 years ago,C#;JavaScript;HTML;CSS
80392,Germany,320.0,Euros (€),Male,Slightly satisfied,"Professional degree (JD, MD, etc.)",18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,C++;Bash/Shell
80394,United States,90000.0,U.S. dollars ($),Male,Neither satisfied nor dissatisfied,Associate degree,45 - 54 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,C;JavaScript;Python;SQL;HTML;CSS;Bash/Shell
80396,United Kingdom,2000.0,British pounds sterling (£),Male,Moderately satisfied,"Secondary school (e.g. American high school, G...",35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;Python;TypeScript;HTML;CSS
80400,Egypt,1200.0,U.S. dollars ($),Male,Neither satisfied nor dissatisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",25 - 34 years old,Middle Eastern,I am actively looking for a job,More than 4 years ago,Java;JavaScript
80410,United States,70000.0,U.S. dollars ($),Female,Moderately satisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,East Asian;White or of European descent,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,CoffeeScript;JavaScript;PHP;Python;Ruby;SQL;Ba...
80412,United States,156748.0,U.S. dollars ($),Male,Moderately satisfied,"Other doctoral degree (Ph.D, Ed.D., etc.)",45 - 54 years old,White or of European descent,"I’m not actively looking, but I am open to new...",More than 4 years ago,Assembly;Perl;Python;VBA;HTML;Bash/Shell
80417,Turkey,4500.0,U.S. dollars ($),Male,Extremely dissatisfied,They never completed any formal education,25 - 34 years old,Middle Eastern,I am not interested in new job opportunities,More than 4 years ago,C#;Java;JavaScript;PHP;SQL
80418,France,9000.0,Euros (€),Male,Slightly satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",25 - 34 years old,White or of European descent,"I’m not actively looking, but I am open to new...",More than 4 years ago,JavaScript;PHP;SQL;HTML;CSS;Bash/Shell
80419,United States,1600.0,U.S. dollars ($),Male,Moderately dissatisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",45 - 54 years old,Hispanic or Latino/Latina,"I’m not actively looking, but I am open to new...",Less than a year ago,Matlab;Python;R;SQL;Bash/Shell
80421,Singapore,4500.0,Singapore dollars (S$),Male,Neither satisfied nor dissatisfied,"Secondary school (e.g. American high school, G...",25 - 34 years old,East Asian,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;SQL;HTML;CSS;Bash/Shell
80423,United States,40.0,U.S. dollars ($),Male,Extremely satisfied,They never completed any formal education,18 - 24 years old,White or of European descent,I am not interested in new job opportunities,More than 4 years ago,C;JavaScript;Objective-C;Python;Swift;TypeScri...
80431,United States,170000.0,U.S. dollars ($),Male,Slightly satisfied,"Professional degree (JD, MD, etc.)",25 - 34 years old,White or of European descent,"I’m not actively looking, but I am open to new...",More than 4 years ago,C;C++;JavaScript;Matlab;PHP;Python;SQL;Swift;H...
80434,United Kingdom,2250.0,British pounds sterling (£),Male,Moderately satisfied,Some college/university study without earning ...,35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;PHP;Python;Ruby;HTML;CSS;Bash/Shell
80435,Canada,30000.0,Canadian dollars (C$),Male,Extremely satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",25 - 34 years old,White or of European descent,I am not interested in new job opportunities,Between 2 and 4 years ago,JavaScript;PHP;Python;SQL;HTML;CSS
80438,Ukraine,3000.0,Euros (€),Male,Moderately dissatisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",25 - 34 years old,White or of European descent,"I’m not actively looking, but I am open to new...",More than 4 years ago,JavaScript;Python;HTML;CSS
80439,Belarus,250.0,U.S. dollars ($),Male,Slightly dissatisfied,Associate degree,Under 18 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,C#;JavaScript;PHP;SQL;HTML;CSS
80440,Australia,80000.0,Australian dollars (A$),Male,Extremely satisfied,"Secondary school (e.g. American high school, G...",45 - 54 years old,White or of European descent,"I’m not actively looking, but I am open to new...",More than 4 years ago,C;C#;JavaScript;R;SQL;VB.NET;HTML;CSS
80441,United States,3000.0,U.S. dollars ($),Male,Slightly satisfied,Some college/university study without earning ...,35 - 44 years old,White or of European descent,I am actively looking for a job,More than 4 years ago,CoffeeScript;JavaScript;PHP;Ruby;SQL;HTML;CSS;...
80444,United Kingdom,80000.0,British pounds sterling (£),Male,Slightly dissatisfied,"Secondary school (e.g. American high school, G...",45 - 54 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,C#;JavaScript;SQL;TypeScript;VBA;VB.NET;Visual...
80446,United States,85000.0,U.S. dollars ($),Male,Moderately dissatisfied,Some college/university study without earning ...,45 - 54 years old,White or of European descent,"I’m not actively looking, but I am open to new...",More than 4 years ago,C#;JavaScript;SQL;HTML;CSS

In [190]:
clean_df = clean_df[clean_df['LanguageWorkedWith'].notnull()]
clean_df['Total Languages'] = clean_df.LanguageWorkedWith.map(lambda x: [i.strip() for i in x.split(";")])
clean_df.LanguageWorkedWith.str.split().tolist()

[['JavaScript;Python;Bash/Shell'],
 ['C;C++;Java;Matlab;R;SQL;Bash/Shell'],
 ['Java;JavaScript;Python;TypeScript;HTML;CSS'],
 ['JavaScript;HTML;CSS'],
 ['Assembly;CoffeeScript;Erlang;Go;JavaScript;Lua;Python;Ruby;SQL;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;PHP;VB.NET;HTML;CSS'],
 ['C#;SQL;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;PHP;SQL;HTML;CSS'],
 ['JavaScript;PHP;SQL;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;PHP;SQL;TypeScript;HTML;CSS'],
 ['C#;Java;JavaScript;PHP;SQL;HTML;CSS'],
 ['C#;JavaScript;SQL;HTML;CSS'],
 ['Python;SQL;HTML;Bash/Shell'],
 ['Java;JavaScript;Objective-C;PHP;SQL;Swift;HTML;CSS;Bash/Shell'],
 ['JavaScript;PHP;HTML;CSS'],
 ['C;C++;Java;JavaScript;PHP;Python;Ruby;SQL;Bash/Shell'],
 ['C#;Java;JavaScript;PHP;SQL;TypeScript;HTML;CSS'],
 ['PHP;HTML;CSS'],
 ['Assembly;C;C++;C#;Python;Rust;Bash/Shell'],
 ['JavaScript;PHP;Python;SQL;HTML;CSS'],
 ['Erlang;Go;Groovy;Java;JavaScript;Ruby;Scala;TypeScript;Kotlin;HTML;CSS;Bash/Shell'],
 ['JavaScript;PHP;SQL;CSS;Bash/Shell'],
 ['Ruby;Bash/Shell'],
 ['C#;F#;JavaScript;Lua;TypeScript;HTML;CSS'],
 ['C;C++;C#;Java;JavaScript;VB.NET;HTML;CSS;Bash/Shell'],
 ['Assembly;C;C++;C#;Java;JavaScript;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C;F#;Haskell;Python;Scala'],
 ['JavaScript;PHP;Python;SQL;TypeScript;HTML;CSS'],
 ['C#;Python'],
 ['Perl;R;SQL'],
 ['Java;JavaScript;SQL;HTML;CSS;Bash/Shell'],
 ['C#;Java;JavaScript;SQL;VB.NET;Visual', 'Basic', '6;HTML;CSS;Bash/Shell'],
 ['JavaScript;Ruby;SQL;HTML;CSS'],
 ['C++;Python;Bash/Shell'],
 ['C#;Go;Java;JavaScript;Objective-C;PHP;Python;Kotlin;HTML;CSS;Bash/Shell'],
 ['Assembly;C++;JavaScript;Matlab;Perl;Python;SQL;Swift;HTML;CSS'],
 ['C;C++;C#;Python;SQL'],
 ['C;Java;Python;SQL;Bash/Shell'],
 ['Objective-C;Swift'],
 ['Java;JavaScript;SQL'],
 ['Assembly;C;C++;Java;Python;Delphi/Object', 'Pascal'],
 ['JavaScript;TypeScript;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;HTML;CSS;Bash/Shell'],
 ['C#;Java;SQL;Swift;CSS'],
 ['C;Java'],
 ['Go;JavaScript;Python;R;SQL;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;TypeScript;HTML;CSS'],
 ['C#;JavaScript;TypeScript;HTML;CSS'],
 ['C#;F#;JavaScript;Python;SQL;VB.NET;CSS'],
 ['C#;JavaScript;SQL;HTML;CSS'],
 ['C;JavaScript;Python;SQL;Swift;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;Scala;SQL;HTML;CSS'],
 ['C#;JavaScript;TypeScript;HTML;CSS'],
 ['PHP;Python;R;SQL;HTML;CSS'],
 ['C#;JavaScript;SQL;HTML;CSS'],
 ['C;JavaScript;Objective-C;Swift'],
 ['JavaScript;Python;SQL;VBA'],
 ['C#;Java;JavaScript;Lua;PHP;Python;SQL;VBA;VB.NET;HTML;CSS;Bash/Shell'],
 ['C++;Go;JavaScript;Python;SQL;HTML;CSS;Bash/Shell'],
 ['Assembly;C;C++;Haskell;JavaScript;Python;Rust;SQL;HTML;CSS;Bash/Shell'],
 ['C#;F#;JavaScript;Python;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['C;Go;Java;JavaScript;Lua;PHP;Python;Rust;Ocaml;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;Python;HTML;CSS'],
 ['C;Java;JavaScript;Objective-C;PHP;Python;Ruby;Swift;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;SQL'],
 ['C#;JavaScript;PHP;SQL;TypeScript;HTML;CSS'],
 ['C;C++;C#;Go;Java;Python;Bash/Shell'],
 ['Java;JavaScript;SQL;Swift;HTML;CSS;Bash/Shell'],
 ['C;C++;C#;JavaScript;SQL;VBA;HTML;CSS;Bash/Shell'],
 ['Go;Haskell;SQL;Bash/Shell'],
 ['Assembly;C;C++;C#;JavaScript;Rust;SQL;HTML;CSS'],
 ['C++;C#;JavaScript;SQL;HTML;CSS;Bash/Shell'],
 ['Assembly;C;C++;CoffeeScript;JavaScript;PHP;SQL;Delphi/Object',
  'Pascal;HTML;CSS;Bash/Shell'],
 ['JavaScript;Perl;PHP;SQL;TypeScript;HTML;CSS'],
 ['JavaScript;PHP;SQL;HTML;CSS'],
 ['Java;JavaScript;Python;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;Lua;PHP;Python;Kotlin;HTML;CSS;Bash/Shell'],
 ['C++;Go;Java;JavaScript;Python;Swift;TypeScript;HTML;CSS;Bash/Shell'],
 ['C#;Java;SQL'],
 ['C++;JavaScript;Python;HTML'],
 ['C#;JavaScript;SQL;TypeScript;HTML;CSS'],
 ['Java;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C;C++;Go;JavaScript;Lua;Matlab;Python;Rust;HTML;CSS'],
 ['Java;JavaScript;PHP;Scala;SQL;Swift;HTML;CSS'],
 ['Go;JavaScript;PHP;Python;Ruby;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['JavaScript;Ruby;HTML;CSS'],
 ['Go;JavaScript;PHP;Python;SQL;Bash/Shell'],
 ['C++;C#;JavaScript;HTML;CSS'],
 ['Assembly;C;C++;C#;Java;JavaScript;Python;HTML;CSS'],
 ['C#;Java;JavaScript;PHP;Python;SQL;HTML;CSS'],
 ['CoffeeScript;JavaScript;TypeScript;HTML'],
 ['C#;Java;JavaScript;Objective-C;PHP;SQL;VB.NET;Visual',
  'Basic',
  '6;HTML;CSS'],
 ['C;C++;CoffeeScript;Haskell;Java;JavaScript;Julia;Python;R;Scala;SQL;VBA;HTML;CSS;Bash/Shell'],
 ['JavaScript;Kotlin'],
 ['C#;JavaScript;SQL;VBA;VB.NET;Visual', 'Basic', '6;HTML'],
 ['CoffeeScript;JavaScript;Objective-C;Perl;Python;Ruby;SQL'],
 ['Groovy;Java;JavaScript;PHP;SQL;TypeScript;Kotlin;HTML;CSS;Bash/Shell'],
 ['JavaScript;PHP;Python'],
 ['C#;Groovy;Java;JavaScript;Ruby;TypeScript;HTML;CSS;Bash/Shell'],
 ['C;C++;C#;Java;JavaScript;SQL;VB.NET;Visual',
  'Basic',
  '6;HTML;CSS;Bash/Shell'],
 ['C#;Go;JavaScript;Objective-C;PHP;Python;R;Ruby;Scala;TypeScript;HTML;CSS;Bash/Shell'],
 ['Assembly;C;C++;Matlab;Python;Bash/Shell'],
 ['C++;Python;Bash/Shell'],
 ['JavaScript;HTML;CSS'],
 ['JavaScript;PHP;Swift;HTML;CSS;Bash/Shell'],
 ['Hack;Java;JavaScript;PHP;Scala;TypeScript;HTML;CSS;Bash/Shell'],
 ['C#;F#;JavaScript;Scala;SQL'],
 ['Java;Bash/Shell'],
 ['JavaScript;HTML;CSS'],
 ['C;C++;C#;Java;SQL'],
 ['JavaScript;Perl;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C#;Objective-C;PHP;SQL;Swift;VB.NET;Bash/Shell'],
 ['JavaScript;PHP;SQL;HTML;CSS'],
 ['C#;Java;JavaScript;PHP;SQL;HTML;CSS;Bash/Shell'],
 ['JavaScript;Python;SQL;Bash/Shell'],
 ['Python;Ruby;Rust;Bash/Shell'],
 ['JavaScript;Python;SQL;HTML;CSS'],
 ['C#'],
 ['Objective-C;Python;Swift;Bash/Shell'],
 ['Assembly;C;C++;Matlab;Python;Bash/Shell'],
 ['C#;Java;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['Assembly;C;C++;Java;JavaScript;Matlab;SQL;HTML;CSS;Bash/Shell'],
 ['Python;Ruby;SQL;Bash/Shell'],
 ['C;C++;C#;JavaScript;SQL;VB.NET;HTML;CSS'],
 ['Java;SQL'],
 ['C;C++;C#;Java;JavaScript;Python;HTML;CSS'],
 ['C#;JavaScript;SQL;HTML;CSS'],
 ['Java;JavaScript;PHP;Ruby;SQL;HTML;CSS;Bash/Shell'],
 ['Go;Groovy;Java;JavaScript;Python;Kotlin'],
 ['C;C#;Go;Java;JavaScript;PHP;Python'],
 ['Assembly;C;C#;JavaScript;SQL;HTML;CSS'],
 ['Java;JavaScript;Perl;PHP;Python;Ruby;SQL;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;Lua;SQL;HTML;CSS'],
 ['JavaScript;PHP;SQL;TypeScript;HTML;CSS'],
 ['Java;JavaScript;Python;R;Scala;SQL;Bash/Shell'],
 ['Java;R;SQL;HTML'],
 ['C;C++;Java;Python;HTML;Bash/Shell'],
 ['JavaScript;Python;SQL;Swift;HTML;CSS;Bash/Shell'],
 ['CoffeeScript;Java;JavaScript;Ruby;SQL;HTML;CSS'],
 ['C;Python;Bash/Shell'],
 ['Groovy;Java;JavaScript;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C#;Java;JavaScript;SQL;HTML'],
 ['JavaScript;Perl;PHP;Python;SQL;HTML;CSS'],
 ['C;Java;Python'],
 ['Java;Python;Bash/Shell'],
 ['C#;Java;JavaScript;Python;SQL;HTML;CSS'],
 ['Java;JavaScript;SQL;HTML;CSS;Bash/Shell'],
 ['Go;JavaScript;Python;SQL;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;PHP;SQL;HTML;CSS;Bash/Shell'],
 ['C++;C#;JavaScript;SQL;TypeScript;HTML;CSS'],
 ['Assembly;Java;Python'],
 ['Go;Groovy;JavaScript;Python;Ruby;SQL;HTML;CSS;Bash/Shell'],
 ['C++;CoffeeScript;Go;Haskell;JavaScript;Objective-C;Ruby;Rust;SQL;Bash/Shell'],
 ['Go;JavaScript;PHP;SQL;HTML;CSS'],
 ['Groovy;Python;R;SQL;HTML;CSS;Bash/Shell'],
 ['Java;Ruby;SQL'],
 ['C;Go;JavaScript;Python;Ruby;SQL;HTML;CSS;Bash/Shell'],
 ['C#;Go;JavaScript;Python;SQL;HTML;CSS'],
 ['C#;JavaScript;SQL;VB.NET;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;TypeScript;HTML;CSS'],
 ['Assembly;C#;Java;JavaScript;PHP;Python;R;HTML;CSS;Bash/Shell'],
 ['CoffeeScript;JavaScript;PHP;Ruby;SQL;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;SQL;HTML;CSS'],
 ['Python'],
 ['C;C++;Java;JavaScript;PHP;SQL;VBA;VB.NET;Visual',
  'Basic',
  '6;HTML;CSS;Bash/Shell'],
 ['Erlang;Java;JavaScript;Rust;Scala;Kotlin;CSS;Bash/Shell'],
 ['C#;Java;JavaScript;Scala;SQL;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;Python;SQL;HTML;CSS'],
 ['C#;JavaScript;Objective-C;Swift;TypeScript;VB.NET;Visual',
  'Basic',
  '6;HTML;CSS'],
 ['C;JavaScript;Ruby;Rust;SQL;HTML;CSS;Bash/Shell'],
 ['Go;Java;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C#;Groovy;Java;JavaScript;Python;SQL;HTML;CSS;Bash/Shell'],
 ['JavaScript;PHP;SQL;HTML;CSS'],
 ['Java;JavaScript;Ruby;SQL;HTML;CSS;Bash/Shell'],
 ['C;C++;Java;JavaScript;PHP;Ruby;HTML;CSS'],
 ['C++;Groovy;Java;JavaScript;Python;SQL;HTML;CSS;Bash/Shell'],
 ['F#;Groovy;JavaScript;R;HTML;CSS;Bash/Shell'],
 ['Objective-C;Swift'],
 ['C++;Go;JavaScript;Python;Ocaml;HTML;CSS;Bash/Shell'],
 ['JavaScript;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C++;Python;R'],
 ['C#;JavaScript;TypeScript;HTML;CSS'],
 ['Go;JavaScript;PHP;SQL;HTML;CSS'],
 ['C++;Julia;Python'],
 ['C#;Java;JavaScript;Scala;SQL;HTML;CSS'],
 ['Ruby;SQL'],
 ['C#;JavaScript;TypeScript;HTML;CSS'],
 ['Java;Lua;Rust;Scala;Bash/Shell'],
 ['C;Java;JavaScript;Julia;Python;R;HTML;CSS;Bash/Shell'],
 ['C;C++;JavaScript;Lua;PHP;Python;HTML;CSS;Bash/Shell'],
 ['Java;PHP;SQL;HTML;CSS'],
 ['Assembly;C;Java;JavaScript;Python;Ruby;Bash/Shell'],
 ['SQL;VBA;HTML;CSS;Bash/Shell'],
 ['C;C++;Matlab;Python;Bash/Shell'],
 ['C++;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;TypeScript;HTML;CSS'],
 ['C;C++;Lua;Python;R;Bash/Shell'],
 ['Java;JavaScript;Python;Ruby;SQL;HTML;CSS;Bash/Shell'],
 ['Haskell;JavaScript;Perl;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C;JavaScript;Julia;PHP;Python;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['Java;Objective-C;Python;Swift;TypeScript'],
 ['C#;Java;JavaScript;SQL;Swift;TypeScript;Kotlin'],
 ['C;C++;C#;Java;Matlab;Python;Bash/Shell'],
 ['C#;Java;JavaScript;Python;Swift;TypeScript;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;SQL;Kotlin;HTML;CSS'],
 ['C#;JavaScript;R;SQL;HTML;CSS'],
 ['PHP'],
 ['C#;JavaScript;SQL;TypeScript;HTML;CSS'],
 ['C#;Java;JavaScript;Python;SQL;VB.NET;Visual', 'Basic', '6;HTML;CSS'],
 ['C#;JavaScript;Python;TypeScript;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;PHP;SQL;Swift;TypeScript;HTML;CSS'],
 ['C#;JavaScript;SQL;VB.NET;HTML;CSS'],
 ['Assembly;C;Python'],
 ['Perl;PHP;SQL;HTML;CSS;Bash/Shell'],
 ['JavaScript;TypeScript;HTML;CSS'],
 ['Java;JavaScript;Python;Rust;HTML;CSS'],
 ['F#;Go;Java;JavaScript'],
 ['C;JavaScript;Matlab;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;SQL;TypeScript;HTML;CSS'],
 ['Java;PHP;SQL;HTML;CSS;Bash/Shell'],
 ['Java'],
 ['C++;C#;Go;Groovy;Java;JavaScript;Python;Bash/Shell'],
 ['Java;JavaScript;PHP;Python;SQL;HTML;CSS'],
 ['C++;Java;JavaScript;Perl;PHP;SQL;HTML;CSS'],
 ['Assembly;C;C++;Java;JavaScript;PHP;Python;SQL;HTML;CSS'],
 ['Assembly;C;C++;C#;Java;JavaScript;SQL;HTML;CSS'],
 ['Go;JavaScript'],
 ['Assembly;C;C++;Java;JavaScript;Objective-C;Swift;HTML;CSS;Bash/Shell'],
 ['JavaScript;HTML;CSS'],
 ['Java;JavaScript;Python;Ruby;Scala;TypeScript;HTML;CSS;Bash/Shell'],
 ['JavaScript;Objective-C;Python;Swift;HTML;CSS'],
 ['C#;JavaScript;SQL;HTML;CSS'],
 ['C;C++;C#;Go;Java;JavaScript;Python;VBA;Kotlin;Bash/Shell'],
 ['Assembly;C;C++;Python'],
 ['C#;JavaScript;SQL;TypeScript;HTML;CSS'],
 ['C#;JavaScript;SQL;Visual', 'Basic', '6;HTML;CSS'],
 ['C#;JavaScript;SQL;Visual', 'Basic', '6;HTML'],
 ['Java;JavaScript;TypeScript'],
 ['C;Java;SQL;Bash/Shell'],
 ['JavaScript;TypeScript;HTML;CSS'],
 ['C#;JavaScript;SQL;HTML;CSS'],
 ['C++;C#'],
 ['C#;JavaScript;Python;SQL;HTML;CSS'],
 ['C#;Java;JavaScript;SQL;VB.NET;Visual', 'Basic', '6;HTML;CSS'],
 ['C#;JavaScript;SQL;HTML;CSS'],
 ['C;C++;C#;Python;VB.NET'],
 ['Groovy;Java;SQL;Kotlin'],
 ['Groovy;Java;JavaScript;Lua;Perl;Python;Ruby;SQL;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;PHP;Scala;SQL;HTML;CSS;Bash/Shell'],
 ['C#;Go;Groovy;Java;JavaScript;Objective-C;Python;Ruby;Swift;Kotlin;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;SQL;HTML;CSS'],
 ['Assembly;C;C++;C#;Java;VB.NET;Bash/Shell'],
 ['Erlang;Go;Java;JavaScript;Perl;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['Assembly;C;Go;JavaScript;Python;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['Python;SQL;VBA;Bash/Shell'],
 ['Java;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['JavaScript;TypeScript;HTML;CSS'],
 ['C++;Java;Python'],
 ['C#;Java;JavaScript;PHP;SQL;TypeScript;HTML;CSS'],
 ['Assembly;C;C++;Java;JavaScript;PHP;Python;SQL;HTML;CSS'],
 ['Assembly;C;C++;Lua;Python;HTML;CSS;Bash/Shell'],
 ['Java'],
 ['C#;Java;JavaScript;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C;C++;Erlang;Java;Scala'],
 ['Java'],
 ['CoffeeScript;JavaScript;PHP;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['R;SQL'],
 ['Assembly;JavaScript;PHP;SQL;HTML;CSS'],
 ['Clojure;Go;JavaScript;SQL;HTML;CSS;Bash/Shell'],
 ['JavaScript;Perl;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;SQL;HTML;CSS'],
 ['C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['PHP'],
 ['Groovy;Java;JavaScript;SQL;TypeScript;HTML;CSS'],
 ['C++;Java;JavaScript;TypeScript;CSS'],
 ['Groovy;Java;Scala;SQL;HTML'],
 ['Go;JavaScript;Python;Ruby;SQL;HTML;Bash/Shell'],
 ['JavaScript;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C++;JavaScript;PHP;SQL;HTML;CSS'],
 ['C;C++;Java;PHP;Python;Bash/Shell'],
 ['C#;Go;JavaScript;SQL;Bash/Shell'],
 ['C;C++;C#;JavaScript;Objective-C;Perl;Python;SQL;TypeScript;HTML;CSS'],
 ['C#;JavaScript;SQL;VB.NET;HTML;CSS'],
 ['Java;R'],
 ['C#;Java;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['JavaScript;Perl;SQL;HTML;CSS;Bash/Shell'],
 ['C;C++;C#;JavaScript;VB.NET;Visual', 'Basic', '6;HTML'],
 ['C;C++;PHP;Python;Ruby;SQL;HTML;Bash/Shell'],
 ['C;C#;Bash/Shell'],
 ['JavaScript;R;Ruby;TypeScript;HTML;CSS;Bash/Shell'],
 ['C++;JavaScript;PHP;SQL;HTML;CSS'],
 ['C++;C#;JavaScript;SQL;HTML;CSS'],
 ['C#;JavaScript;TypeScript;HTML;CSS;Bash/Shell'],
 ['C++;C#;Java;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['JavaScript;HTML;CSS'],
 ['C#;JavaScript;SQL;TypeScript;HTML;CSS'],
 ['C;C++;Go;Java;JavaScript;Python;SQL;Swift;TypeScript'],
 ['JavaScript;HTML;CSS'],
 ['Objective-C;Swift'],
 ['C#;F#;Java;JavaScript;PHP;Python;HTML;CSS'],
 ['Java;JavaScript;SQL;Swift;HTML;CSS'],
 ['C#;JavaScript;Python;SQL;HTML;CSS'],
 ['Assembly;C;C++;Go;Python;Bash/Shell'],
 ['Assembly;C;Java;Python;Kotlin'],
 ['CoffeeScript;Java;JavaScript;PHP;SQL;HTML;CSS'],
 ['JavaScript;PHP;SQL;VB.NET;HTML;CSS;Bash/Shell'],
 ['C;C++;C#;Groovy;Java;JavaScript;Lua;Perl;PHP;SQL;VB.NET;HTML;CSS'],
 ['C#;JavaScript;SQL;TypeScript;VBA;VB.NET;HTML;CSS'],
 ['C#;Groovy;Java;JavaScript;PHP;Scala;SQL;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;SQL;HTML;CSS'],
 ['C#;JavaScript;SQL;HTML;CSS;Bash/Shell'],
 ['C++;Scala;SQL'],
 ['Python;R'],
 ['C#;Java;JavaScript;SQL;TypeScript;VB.NET;HTML;CSS'],
 ['Go;Perl;Python;SQL;Bash/Shell'],
 ['C;C#;Go;JavaScript;Python;TypeScript;Bash/Shell'],
 ['C++;C#;Python;Bash/Shell'],
 ['C;C++;Groovy;Java;JavaScript;Perl;Python;HTML;CSS;Bash/Shell'],
 ['Groovy;JavaScript;Python;Ruby;Bash/Shell'],
 ['JavaScript;Ruby;TypeScript;HTML;CSS;Bash/Shell'],
 ['C#;Python;SQL'],
 ['JavaScript;TypeScript;HTML;CSS;Bash/Shell'],
 ['JavaScript;HTML;CSS'],
 ['C++;Java;JavaScript;PHP;Python;Scala;HTML;CSS'],
 ['C++;Java;JavaScript;PHP;HTML;CSS'],
 ['C#;Java;JavaScript;SQL;HTML;CSS;Bash/Shell'],
 ['CoffeeScript;JavaScript;PHP;Ruby;SQL;HTML;CSS'],
 ['C++;Java;JavaScript;PHP;SQL;Kotlin;HTML;CSS;Bash/Shell'],
 ['Haskell;JavaScript;SQL;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;TypeScript;HTML;CSS'],
 ['C;C#;Java;JavaScript;Python;VBA;Visual', 'Basic', '6;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;SQL;TypeScript;CSS;Bash/Shell'],
 ['C#;Java;JavaScript;Scala;SQL;VB.NET;Visual',
  'Basic',
  '6;HTML;CSS;Bash/Shell'],
 ['C;C++;Java;JavaScript;Python;SQL;HTML;CSS;Bash/Shell'],
 ['Python;R;SQL;CSS'],
 ['C#;F#;Java;JavaScript;PHP;Python;Ruby;SQL;TypeScript;Kotlin;HTML;CSS;Bash/Shell'],
 ['JavaScript'],
 ['Python;R'],
 ['C#'],
 ['Java;JavaScript;Python;SQL;HTML;CSS;Bash/Shell'],
 ['Assembly;C;C#;Java;JavaScript;PHP;Python;SQL;VBA;HTML;CSS;Bash/Shell'],
 ['C;C++;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C;C++;C#;Go;JavaScript;Python;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;SQL;Bash/Shell'],
 ['Java'],
 ['C++;Java;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;Bash/Shell'],
 ['C;C++;Perl'],
 ['Go;JavaScript;PHP;SQL;HTML;CSS;Bash/Shell'],
 ['C;C++;Matlab;Python;Bash/Shell'],
 ['C++;C#;Groovy;Python;SQL'],
 ['JavaScript;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C++;Go;Java;JavaScript;Python;SQL;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;SQL;HTML;CSS'],
 ['JavaScript;HTML;CSS'],
 ['JavaScript;PHP;SQL;HTML;CSS'],
 ['C#;JavaScript;SQL;HTML;CSS'],
 ['Java;JavaScript;Python;Scala;SQL;Bash/Shell'],
 ['C;C#'],
 ['JavaScript;PHP;SQL;HTML;CSS;Bash/Shell'],
 ['Java;Python;R;Scala;Bash/Shell'],
 ['C;C++;Matlab;Python;R;Scala;SQL;HTML;CSS;Bash/Shell'],
 ['JavaScript;Python;TypeScript;HTML;CSS;Bash/Shell'],
 ['C#;Java;JavaScript;PHP;Python;Ruby;SQL;VBA;HTML;CSS'],
 ['JavaScript;Matlab;PHP;Ruby;SQL;HTML;CSS;Bash/Shell'],
 ['C;C++;Objective-C;Swift;Bash/Shell'],
 ['Groovy;PHP;Python'],
 ['Java;JavaScript;Perl;Python;SQL;HTML;Bash/Shell'],
 ['C#;Java;Python;SQL;Bash/Shell'],
 ['Haskell;JavaScript;Scala;SQL'],
 ['C;C++;Objective-C;Ruby;Swift'],
 ['C#'],
 ['C#;JavaScript;PHP;Python;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;Swift;HTML;CSS'],
 ['C#;CoffeeScript;JavaScript;Objective-C;SQL;TypeScript;HTML;CSS'],
 ['JavaScript;PHP;HTML;CSS'],
 ['C;C++;Java;JavaScript;Matlab;PHP;Python;HTML;CSS;Bash/Shell'],
 ['JavaScript;TypeScript;HTML;CSS'],
 ['C;C++;SQL;Bash/Shell'],
 ['C#;JavaScript;SQL;HTML;CSS'],
 ['JavaScript;PHP;SQL;TypeScript'],
 ['Java;JavaScript'],
 ['C;C++;JavaScript;Objective-C;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['CoffeeScript;Go;JavaScript;Python;Ruby;SQL;Swift;TypeScript;HTML;CSS;Bash/Shell'],
 ['Objective-C;Ruby;SQL;Swift'],
 ['C#;JavaScript;SQL;TypeScript;HTML;CSS'],
 ['C#;JavaScript;PHP;SQL;HTML;CSS'],
 ['JavaScript;Visual', 'Basic', '6;Delphi/Object', 'Pascal;HTML;CSS'],
 ['C++;Objective-C;Swift'],
 ['Assembly;C;C++;C#;Java;JavaScript;Lua;Matlab;PHP;Python;SQL;VB.NET;HTML;Bash/Shell'],
 ['Java;JavaScript;Objective-C;PHP;Swift;HTML;CSS'],
 ['C#;F#;JavaScript;Python;SQL;TypeScript;Delphi/Object', 'Pascal;HTML;CSS'],
 ['C#;JavaScript;Ruby;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['C++;PHP;Python;SQL;Bash/Shell'],
 ['Java;Python;Ruby;SQL;VBA;HTML;Bash/Shell'],
 ['Java;Scala;HTML'],
 ['JavaScript;HTML;CSS'],
 ['JavaScript;Ruby;SQL'],
 ['C;C++;JavaScript;Python;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/Shell'],
 ['C++;JavaScript;PHP;Python;SQL;HTML;CSS'],
 ['Assembly;C;C++;Java;JavaScript;PHP;SQL;HTML;CSS'],
 ['C#;SQL'],
 ['JavaScript;TypeScript;HTML;CSS'],
 ['C;C#;F#;JavaScript;Python;R;SQL;TypeScript;HTML;Bash/Shell'],
 ['JavaScript;PHP;SQL;HTML;CSS;Bash/Shell'],
 ['JavaScript;PHP;HTML;CSS'],
 ['Java;JavaScript;Python;Scala;SQL;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['C;C++;Java;Objective-C;Python;Kotlin'],
 ['C;C#;Java;JavaScript;Python;SQL;HTML;CSS'],
 ['Perl;Python;Ruby;SQL;Bash/Shell'],
 ['Java;JavaScript;SQL;HTML'],
 ['C++;Java;JavaScript;Python;SQL;Bash/Shell'],
 ['C#;JavaScript;PHP;SQL;HTML;CSS'],
 ['C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['JavaScript;Ruby;SQL;HTML;CSS;Bash/Shell'],
 ['CoffeeScript;Haskell;Java;JavaScript;PHP;Python;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;SQL;VB.NET;Visual', 'Basic', '6;HTML;CSS'],
 ['Assembly;C;C++;C#;Java;JavaScript;Matlab;SQL;TypeScript;HTML;CSS'],
 ['C#;JavaScript;Python;SQL;HTML;CSS'],
 ['JavaScript;PHP;Ruby;SQL;CSS'],
 ['Haskell;JavaScript;Ruby;TypeScript;Ocaml;HTML;CSS'],
 ['C;C++;C#;JavaScript;Python'],
 ['JavaScript;Python;HTML;CSS;Bash/Shell'],
 ['C;C++;JavaScript;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;PHP;SQL;HTML;CSS'],
 ['C#;Java;JavaScript;PHP;SQL;HTML;CSS;Bash/Shell'],
 ['C#;JavaScript;SQL;TypeScript;HTML;CSS'],
 ['C;C++;C#;Clojure;Groovy;Java;JavaScript;Perl;PHP;Python;SQL;TypeScript;Delphi/Object',
  'Pascal;HTML;CSS;Bash/Shell'],
 ['JavaScript;Python;R;SQL;VBA;Cobol;HTML'],
 ['C++;PHP;SQL;HTML;CSS'],
 ['C++;C#;CoffeeScript;Java;JavaScript;Matlab;Objective-C;Python;Ruby;Scala;SQL;Swift;HTML;CSS;Bash/Shell'],
 ['Java;JavaScript;PHP;SQL;TypeScript;HTML;CSS;Bash/Shell'],
 ['Java;Python;SQL;Bash/Shell'],

In [193]:
clean_df['Total Languages'] = clean_df.LanguageWorkedWith.map(lambda x: [i.strip() for i in x.split(";")])
clean_df.head()

,Country,Salary,Currency,Gender,JobSatisfaction,EducationParents,Age,RaceEthnicity,JobSearchStatus,LastNewJob,LanguageWorkedWith,Total Languages
1,United Kingdom,51000.0,British pounds sterling (£),Male,Moderately dissatisfied,"Bachelor’s degree (BA, BS, B.Eng., etc.)",35 - 44 years old,White or of European descent,I am actively looking for a job,More than 4 years ago,JavaScript;Python;Bash/Shell,"[JavaScript, Python, Bash/Shell]"
4,South Africa,260000.0,South African rands (R),Male,Slightly satisfied,Some college/university study without earning ...,18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,C;C++;Java;Matlab;R;SQL;Bash/Shell,"[C, C++, Java, Matlab, R, SQL, Bash/Shell]"
5,United Kingdom,30000.0,British pounds sterling (£),Male,Moderately satisfied,"Secondary school (e.g. American high school, G...",18 - 24 years old,White or of European descent,I am actively looking for a job,Between 2 and 4 years ago,Java;JavaScript;Python;TypeScript;HTML;CSS,"[Java, JavaScript, Python, TypeScript, HTML, CSS]"
6,United States,120000.0,U.S. dollars ($),Male,Slightly satisfied,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",18 - 24 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;HTML;CSS,"[JavaScript, HTML, CSS]"
8,United States,250000.0,U.S. dollars ($),Male,Moderately satisfied,Some college/university study without earning ...,35 - 44 years old,White or of European descent,"I’m not actively looking, but I am open to new...",Between 2 and 4 years ago,Assembly;CoffeeScript;Erlang;Go;JavaScript;Lua...,"[Assembly, CoffeeScript, Erlang, Go, JavaScrip..."

In [196]:
clean_languages_df = clean_df[['LanguageWorkedWith']]
clean_languages_df.head()

                                  LanguageWorkedWith
1                       JavaScript;Python;Bash/Shell
4                 C;C++;Java;Matlab;R;SQL;Bash/Shell
5         Java;JavaScript;Python;TypeScript;HTML;CSS
6                                JavaScript;HTML;CSS
8  Assembly;CoffeeScript;Erlang;Go;JavaScript;Lua...

In [208]:
a = pd.Series(clean_languages_df.LanguageWorkedWith)
a.str.split(expand=True)

,0,1,2,3
1,JavaScript;Python;Bash/Shell,None,None,None
4,C;C++;Java;Matlab;R;SQL;Bash/Shell,None,None,None
5,Java;JavaScript;Python;TypeScript;HTML;CSS,None,None,None
6,JavaScript;HTML;CSS,None,None,None
8,Assembly;CoffeeScript;Erlang;Go;JavaScript;Lua...,None,None,None
14,Java;JavaScript;PHP;VB.NET;HTML;CSS,None,None,None
17,C#;SQL;HTML;CSS;Bash/Shell,None,None,None
22,C#;JavaScript;PHP;SQL;HTML;CSS,None,None,None
23,JavaScript;PHP;SQL;HTML;CSS;Bash/Shell,None,None,None
25,Java;JavaScript;PHP;SQL;TypeScript;HTML;CSS,None,None,None
26,C#;Java;JavaScript;PHP;SQL;HTML;CSS,None,None,None
27,C#;JavaScript;SQL;HTML;CSS,None,None,None
30,Python;SQL;HTML;Bash/Shell,None,None,None
32,Java;JavaScript;Objective-C;PHP;SQL;Swift;HTML...,None,None,None
33,JavaScript;PHP;HTML;CSS,None,None,None
35,C;C++;Java;JavaScript;PHP;Python;Ruby;SQL;Bash...,None,None,None
37,C#;Java;JavaScript;PHP;SQL;TypeScript;HTML;CSS,None,None,None
41,PHP;HTML;CSS,None,None,None
43,Assembly;C;C++;C#;Python;Rust;Bash/Shell,None,None,None
45,JavaScript;PHP;Python;SQL;HTML;CSS,None,None,None
46,Erlang;Go;Groovy;Java;JavaScript;Ruby;Scala;Ty...,None,None,None
47,JavaScript;PHP;SQL;CSS;Bash/Shell,None,None,None
49,Ruby;Bash/Shell,None,None,None
51,C#;F#;JavaScript;Lua;TypeScript;HTML;CSS,None,None,None
53,C;C++;C#;Java;JavaScript;VB.NET;HTML;CSS;Bash/...,None,None,None
57,Assembly;C;C++;C#;Java;JavaScript;Python;SQL;H...,None,None,None
62,C;F#;Haskell;Python;Scala,None,None,None
63,JavaScript;PHP;Python;SQL;TypeScript;HTML;CSS,None,None,None
65,C#;Python,None,None,None
70,Perl;R;SQL,None,None,None
...,...,...,...,...
80374,C;Java;JavaScript;PHP;Python;SQL;HTML;CSS;Bash...,None,None,None
80375,JavaScript;Python;HTML;CSS;Bash/Shell,None,None,None
80376,Groovy;Java;JavaScript;PHP;HTML;CSS;Bash/Shell,None,None,None
80377,Clojure;Groovy;Java;R,None,None,None
80379,JavaScript;PHP;HTML;CSS,None,None,None
80380,C#;JavaScript;SQL;VB.NET;HTML;CSS,None,None,None
80381,JavaScript;Python;R;SQL;HTML;CSS;Bash/Shell,None,None,None
80384,C++;JavaScript;Objective-C;Python;SQL;Swift;Ba...,None,None,None
80388,C#;Java;JavaScript;HTML;CSS,None,None,None
80391,C#;JavaScript;HTML;CSS,None,None,None
80392,C++;Bash/Shell,None,None,None
80394,C;JavaScript;Python;SQL;HTML;CSS;Bash/Shell,None,None,None
80396,JavaScript;Python;TypeScript;HTML;CSS,None,None,None
80400,Java;JavaScript,None,None,None
80410,CoffeeScript;JavaScript;PHP;Python;Ruby;SQL;Ba...,None,None,None
80412,Assembly;Perl;Python;VBA;HTML;Bash/Shell,None,None,None
80417,C#;Java;JavaScript;PHP;SQL,None,None,None
80418,JavaScript;PHP;SQL;HTML;CSS;Bash/Shell,None,None,None
80419,Matlab;Python;R;SQL;Bash/Shell,None,None,None
80421,JavaScript;SQL;HTML;CSS;Bash/Shell,None,None,None
80423,C;JavaScript;Objective-C;Python;Swift;TypeScri...,None,None,None
80431,C;C++;JavaScript;Matlab;PHP;Python;SQL;Swift;H...,None,None,None
80434,JavaScript;PHP;Python;Ruby;HTML;CSS;Bash/Shell,None,None,None
80435,JavaScript;PHP;Python;SQL;HTML;CSS,None,None,None
80438,JavaScript;Python;HTML;CSS,None,None,None
80439,C#;JavaScript;PHP;SQL;HTML;CSS,None,None,None
80440,C;C#;JavaScript;R;SQL;VB.NET;HTML;CSS,None,None,None
80441,CoffeeScript;JavaScript;PHP;Ruby;SQL;HTML;CSS;...,None,None,None
80444,C#;JavaScript;SQL;TypeScript;VBA;VB.NET;Visual,Basic,6;HTML;CSS,None
80446,C#;JavaScript;SQL;HTML;CSS,None,None,None

In [205]:
# pd.DataFrame(num_languages_df.LanguageWorkedWith.tolist(), columns=['C', 'C#', 'C++','JavaScript','SQL', 'TypeScript', 'HTML', 'CSS','Bash/Shell', 'Java', 'Matlab', 'R', 'Python', 'Assembly', 'CoffeeScript', 'Erlang', 'Go']

In [206]:
def list_to_dict(rlist):
    return dict(map(lambda s : s.split(';'), clean_languages_df))

In [185]:
# languages =[]
# languages = num_languages_df['LanguageWorkedWith'].apply(pd.Series)

# # rename each variable is tags
# # # languages = tags.rename(columns = lambda x : 'LanguageWorkedWith_' + str(x))

# # # view the tags dataframe
# print (languages)

In [186]:
# def list_to_dict(rlist):
#     return dict(map(lambda s : s.split(';'), rlist)) 

# # df1 = {
# #     'LanguageWorkedWith':[LanguageWorkedWith]}


# df1 = pd.DataFrame(df1,columns=['C', 'C#', 'C++','JavaScript','SQL', 'TypeScript', 'HTML', 'CSS','Bash/Shell', 'Java', 'Matlab', 'R', 'Python', 'Assembly', 'CoffeeScript', 'Erlang', 'Go'])
# print(df1)

# # num_languages_df = pd.Series(num_languages_df['C', 'C#', 'C++','JavaScript','SQL', 'TypeScript', 'HTML', 'CSS','Bash/Shell', 'Java', 'Matlab', 'R', 'Python', 'Assembly', 'CoffeeScript', 'Erlang', 'Go']).apply(list).to_frame(name='LanguageWorkedWith')

# # for genre in set.union(*num_languages_df.LanguageWorkedWith.apply(set)):
# #     num_languages_df[genre] = num_languages_df.apply(lambda _: int(_.LanguageWorkedWith.count(LanguageWorkedWith)), axis=1)

In [187]:
# num_languages_df['LanguageWorkedWith'] = num_languages_df.LanguageWorkedWith.map(lambda x: [i.strip() for i in x.split(";")])